.details-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 150px;
  max-width: 500px;
  width: 90%;
  margin: 5px auto;
  align-items: center;
  justify-content: center;
}

.details-container > label {
  line-height: 30px;
  width: 40%;
  text-align: left;
}

.details-container > span {
  line-height: 30px;
  width: 60%;
  text-align: left;
}

.details-container > div {
  line-height: 30px;
  width: 100%;
  text-align: center;
}



