.details-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 5px auto;
  padding: 0 25px 0 25px;
}

.details-container > label {
  line-height: 30px;
  width: 40%;
  text-align: left;
}

.details-container > span {
  line-height: 30px;
  width: 60%;
  text-align: left;
}

.details-container > div {
  line-height: 100px;
  vertical-align: center;
  width: 100%;
  text-align: left;
}



