
<!--

<ul>
  <li *ngFor="let customer of list; let idx=index;"
      [class.selected]="customer===selectedCustomer"
      (click)="selectCustomer(customer)"
  >
    <a routerLink="/customers/edit/{{idx}}">
      {{customer.firstName}}
      {{customer.lastName}}
    </a>
  </li>

</ul>
-->


<mat-list>
  <mat-list-item *ngFor="let customer of list; let idx=index;">
    <div class="avatar">
      <mat-icon class="icon mat-accent">person</mat-icon>
    </div>
    <div class="toolbar-spacer">
    <span> {{customer.firstName}} {{customer.lastName}}</span>
    </div>

    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button  mat-menu-item class="mat-accent" routerLink="/customers/details/{{idx}}">Details</button>
      <button  mat-menu-item class="mat-background-accent" routerLink="/customers/edit/{{idx}}">Edit</button>
      <button mat-menu-item class="mat-active" (click)="openDeleteDialog(customer)">Delete</button>
    </mat-menu>
  </mat-list-item>
</mat-list>
