.toolbar-spacer {
  //flex: 1 1 auto;
  flex: 1;
}


ul li {
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
}

* {
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li * {
  display: inline-block;
  font-size: 14px;
  text-align: center;
}

ul li:hover {
  color: violet;
  cursor: pointer;
}

ul li.active {
  color: green;
  font-weight: bold;
}
