
.form-container {
  margin: 5px auto;
  padding: 0 25px 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;
  //list-style: none;
}

.form-container > * {
  width: 100%;
}
mat-form-field{
  height: 70px;
}

